html {
  height: 100%;
  font-size: 62.5%;
}

:root {
  --clr-primary: rgba(52, 152, 219, 1.0);
  /* --clr-primary-dark: ; */
  /* --clr-primary-light: ; */
  --clr-dark: rgba(34, 47, 62, 1.0);
  --clr-dark-lighten1: #4e5864;
  --blue-card1: #2e86de;
  --blue-card2: #0abde3;
  --blue-card-shadow: rgba(52, 31, 151, .3);

  /* --animation-time: ; */
  /* --nav-height: ; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-size: 1.8rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
  background-color: aliceblue;
}

header {
  margin-bottom: 4rem;
}

h1, h3, h4 {
  text-align: center;
}

li {
  margin-left: 4rem;
}

p, li {
  margin-bottom: 1rem;
}

button,
button:focus {
  all: unset;
  padding: 1rem 1.5rem;
  color: white;
  background: var(--clr-primary);
  cursor: pointer;
}

img {
  height: auto;
  width: 100%;
}

section {
  --time: 600ms;
  padding: 2rem;
  background: white;
  transition: all var(--time) ease-out;
}

.page-container {
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr;
}

.container {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.collapsible {
  position: relative;
  overflow: hidden;
}

.collapsible:not(:last-of-type) {
  margin-bottom: 2rem;
}

.clickable-heading {
  position: relative;
  padding: 1rem 0;
  z-index: 2;
  color: white;
  background: var(--clr-dark);
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  transition: all 300ms;
}

.clickable-heading:hover {
  background: var(--clr-dark-lighten1);
}

.close {
  display: none;
  animation: close 600ms ease-in-out forwards;
}

.open {
  animation: open 600ms ease-in-out forwards;
}

@keyframes open {
  from {
    transform: translateY(-110%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes close {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-110%);
  }
}

.card {
  margin: 4rem auto;
  padding: 2rem;
  width: fit-content;
  display: flex;
  flex-direction: column;

  border: 1px solid var(--clr-dark);
  border-radius: 5px;
}

#ssss .card {
  width: 90%;
}

.card__blue{
  color: white;
  background: linear-gradient(to bottom right, var(--blue-card1), var(--blue-card2));
  box-shadow: .5rem .5rem 1rem .5rem var(--blue-card-shadow);
}

.card__green{
  color: white;
  background: linear-gradient(to bottom right, #27ae60, #2ecc71);
  box-shadow: .5rem .5rem 1rem .5rem rgba(22, 160, 133, .3);
}

.card--heading {
  margin-bottom: 2rem;
  font-size: 3rem;
  text-decoration: underline;
}

.card--heading__sub {
  margin-bottom: 2rem;
  font-size: 2.2rem;
  text-align: center;
  color: #4e5864;
}

.table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid var(--clr-dark);
  border-right: 1px solid var(--clr-dark);
}

.table > * {
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid var(--clr-dark);
  border-left: 1px solid var(--clr-dark);
}