html {
  height: 100%;
  font-size: 62.5%;
}

:root {
  --clr-primary: rgba(52, 152, 219, 1.0);
  /* --clr-primary-dark: ; */
  /* --clr-primary-light: ; */
  --clr-dark: rgba(34, 47, 62, 1.0);
  --blue-card1: #2e86de;
  --blue-card2: #0abde3;
  --blue-card-shadow: rgba(52, 31, 151, .3);

  /* --animation-time: ; */
  /* --nav-height: ; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-size: 1.8rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
  background-color: aliceblue;
}

h1, h3, h4 {
  text-align: center;
}

li {
  margin-left: 4rem;
}

p, li {
  margin-bottom: 1rem;
}

.page-container {
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

button,
button:focus {
  all: unset;
  padding: 1rem 1.5rem;
  color: white;
  background: var(--clr-primary);
  cursor: pointer;
}

.card {
  margin: 4rem auto;
  padding: 2rem;
  width: fit-content;
  display: flex;
  flex-direction: column;

  border: 1px solid var(--clr-dark);
  border-radius: 5px;
}

.card__blue{
  color: white;
  background: linear-gradient(to bottom right, var(--blue-card1), var(--blue-card2));
  box-shadow: .5rem .5rem 1rem .5rem var(--blue-card-shadow);
}

.card-heading {
  margin-bottom: 2rem;
  font-size: 3rem;
  text-decoration: underline;
}